{% extends 'navbar.html' %}

{% block body %}
{% load staticfiles %}
<body>
		<div id="content-holder">
			<div class = "listHeader">
				<div class = "row">
					<div class = "col-sm-12" id = "title_section">
						<h1>{{tipo|capfirst}}</h1>
						<form><input type = 'text' name = 'query'/></form>
					</div>
				</div>
			</div>
			<div class = "listBody">
				<div class = "row">
					<div class = "col-sm-8">
						<h2> Products </h2>
					</div>
					<div class = "col-sm-4">
						<h2> Lateral Bar</h2>
					</div>
				</div>
			</div>
	</div>
</body>
{% endblock %}
